<li id='score-<%= score.id%>'>
    <span class="point">
    Score: <%= score.point %>
    </span>
    |
    <span class="timestamp">
        created
        <%= time_ago_in_words(score.created_at) %> ago.
    </span>
</li>
