@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;

  &:hover {
      color: #fff;
      text-decoration: none;
  }
}

footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    color: #777;

    a {
        color: #555;
    }

    a:hover {
        color: #222;
    }

    small {
        float: left;
    }

    ul {
        float: right;
        list-style: none;
    }

    ul li {
        float: left;
        margin-left: 15px;
    }
}
