.typing {
    background-color: #eeffee;
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: 'Courier New', sans-serif;
    text-align: center;

    .target {
        font-size: 48px;
        letter-spacing: 3px;
    }

    .hide-cursor {
        cursor:none;
    }

    .info {
        color: #ccc;
        margin: 20px;
    }

    #close {
    }
}
