<footer class="footer">
  <small>
    The <a href="#">Rails Typing</a>
    by <a href="#">kse201</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>
